<div class="stickyHeader" style="width: <%=width+4%>">
  <img class="stickyEditButton" title="Edit" src="/pencil.png">
  <img class="stickyCloseButton" title="Delete" src="/close_icon.gif">
  <div style="clear:both"></div>
</div>
<div class="stickyContent"><%=name%></div>
<ol class="bucketList">
  <% _.each(contents, function (bucketItem) { %>
    <li>
      <span><%=bucketItem.name%></span>
      <a href="javascript:void(0)" data-boarditemid="<%=bucketItem.id%>" class="remove">--&gt;</a>
    </li>
  <% }); %>
</ol>
