<div class="stickyHeader">
  <img class="stickyEditButton" title="Edit" src="/pencil.png">
  <img class="stickyFlipButton" title="Flip" src="/flip.png">
  <img class="stickyCloseButton" title="Delete" src="/close_icon.gif">
  <div style="clear:both"></div>
</div>
<div class="stickyFront">
  <div class="stickyContent">
      <% if (bugId !== null) { %>
         <a href="http://bugzilla.vclk.net/show_bug.cgi?id=<%= bugId %>" target="_blank"><%= bugId %></a> -
      <% } %>
      <%= name %>
  </div>
</div>
<div class="stickyBack">
  <div class="extraNotes"><%=extraNotes%></div>
</div>
